@mixin display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin custom-nav {
    ul {
        li {
            float: left;
            margin: 0 1em;
            a {
                color: $color-gray;
                font-size: $font-size-all;
            }
        }
    }
}