$height-header: 7em;

$color-light: rgb(255, 255, 255);
$color-gray: rgb(108, 122, 137);
$color-orange: rgb(249, 191, 59);

$box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

$font-size-all: 17px;

$border-radius: 3px;